@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.hide-scrollbar {
    scrollbar-width: none;  /* Para Firefox */
    -ms-overflow-style: none;  /* Para Internet Explorer y Edge */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Para Chrome, Safari y Opera */
  }
